@charset "iso-8859-1";

/*
    G A L L E R Y   P A G E
*/

body {background-color: #000;
      color: #fff;
      font-family: Arial, Helvetica, Geneva, Verdana, sans-serif;
      font-size: 8pt;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
      display: flex;
      flex-direction: column;}

/* @media only screen and (max-width: 768px) { body { background-color: #111; } } */
 
a {font-family: Arial, Verdana, Geneva, Helvetica, sans-serif; font-size: 8pt; text-decoration: none;}


.thumbnails {padding: 0px; margin: 0px; width: 100%; height: 100%;}

.centredthumbs {margin: 0 auto; /*display: flex; flex-wrap: wrap;*/ justify-content: center; padding: 0px;}

#thumbnails span {padding: 0px; text-align: center; color: #fff; font-size: 8pt; }

#thumbnails span a {font-size: 8pt; color: #fff;
                    text-shadow: 2px 2px 4px #000, -2px 2px 4px #000, 2px -2px 4px #000, -2px -2px 4px #000; 
                   }

#thumbnails img       {margin-bottom: .25em;}
#thumbnails a:link    {color: #fff;}
#thumbnails a:visited {color: #fff;}
#thumbnails a:hover   {color: #ccc; /*#f47c0e;*/}

