<!DOCTYPE html>
<html>
<head>
<title>{% if page %}{{page['heading']}}{% endif %}</title>
 <!-- for floatbox -->
 <link type="text/css" rel="stylesheet" href="{{webroot}}/floatbox/floatbox.css">
 <script type="text/javascript" src="{{webroot}}/floatbox/floatbox.js"></script>
 <script type="text/javascript" src="/static/floatbox_settings.js"></script>

 <!-- link rev="stylesheet" type="text/css" href="/static/style.css" rel="stylesheet" media="screen,all" -->

 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <meta http-equiv="Content-Type" content="text/html, charset=ISO-8859-1">
 <meta http-equiv="content-style-type" content="text/css">

 <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- maximum-scale=1.0;" -->

 <meta name="googlebot" content="noindex,noarchive,nofollow">
 <meta name="robots" content="noindex,nofollow">

 <!-- favicon support -->
 <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
 <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
 <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
 <link rel="manifest" href="/static/site.webmanifest">

 
{% include "styles.html" %}
 
</head>
<body>


<div class="w3-top">
	<div class="w3-bar w3-black">
		<a href="/" class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button">{{page['heading']}}</a>

		{% for item in page['navigation'] %}
		  {% if page['navigation'][item]['rows'] > 0 %}
            <a href="{{page['navigation'][item]['href']}}" class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange {{page['navigation'][item]['class']}} w3-hover-dark-grey w3-button">{{page['navigation'][item]['title']}}</a>
		  {% endif %}
		{% endfor %}

		{% if page['db'] %}
		<a href="/{{page['db']}}/random" class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button">Random</a>
		{% elif not page['fs'] %}
		<a href="/random" class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button">Random</a>
		<a href="/fs" class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button">FileSystem</a>
		{% endif %}

		<span id="pagetitle" class="w3-bar-item w3-padding-small w3-border w3-border-black">
		<div style="font-size: var(--menu_font_size);" nowrap>
			{% if page['plaintitle'] %}
				{{page['title']}}
			{% else %}{% if page['title'] %}
				<a class="title2" href="{{page['title']['site']['href']}}">{{page['title']['site']['name']}}</a> / 
				{% if page['title']['models'] %}
					{% for model in page['title']['models'] %}
						<a class="title2" href="{{model['href']}}">{{model['name']}}</a>
					{% endfor %}
				{% else %}
					<a class="title2" href="{{page['title']['model']['href']}}">{{page['title']['model']['name']}}</a> / 
				{% endif %}
				{{page['title']['folder']}} 
				{% if page['type'] not in ['video'] %} ({{page['count']}} pics) {% endif %}
			{% endif %}{% endif %}
			{% autoescape false %}
			{% endautoescape %}
		</div>
		</span>	

		<div class="w3-dropdown-hover w3-right">
			<button class="w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button ">Sort <i class="fa fa-caret-down"></i></button>
			<div class="w3-dropdown-content w3-bar-block w3-dark-grey" style="right:0">

			{% if page['type'] %}
				{% if page['type'] in ['photos', 'models', 'model', 'videos', 'sites', 'site'] %}
			<a href="{{page['url']}}?order=alpha"  class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button ">Alpha</a>
			<a href="{{page['url']}}?order=ralpha" class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button ">Alpha (R)</a>
			<a href="{{page['url']}}?order=id"     class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button ">Index</a>
			<a href="{{page['url']}}?order=rid"    class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button ">Index (R)</a>
				{% endif %}
				{% if page['type'] in ['photos', 'videos', 'model', 'site'] %}
			<a href="{{page['url']}}?order=date"  class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button ">Sort Date</a>
			<a href="{{page['url']}}?order=rdate" class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button ">Sort Date(R)</a>
				{% endif %}
				{% if page['type'] in ['photos'] %}
			<a href="{{page['url']}}?order=pics"  class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button ">Sort PicCount</a>
			<a href="{{page['url']}}?order=rpics" class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button ">Sort PicCount(R)</a>
				{% endif %}
				{% if page['type'] == 'models' %}
			<a href="{{page['url']}}?order=vlatest"  class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button ">Latest Videos</a>
			<a href="{{page['url']}}?order=rvlatest" class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button ">Latest Videos(R)</a>
			<a href="{{page['url']}}?order=platest"  class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button ">Latest Photos</a>
			<a href="{{page['url']}}?order=rplatest" class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button ">Latest Photos(R)</a>
				{% endif %}
				{% if page['type'] in ['models', 'sites'] %}
			<a href="{{page['url']}}?order=most"  class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button ">Sort Most</a>
			<a href="{{page['url']}}?order=least" class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button ">Sort Least</a>
				{% endif %}
				{% if page['type'] == 'videos_not' %} <!-- Latest Videos on videos page is just date order -->
			<a href="{{page['url']}}?order=latest"  class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button ">Latest Videos</a>
			<a href="{{page['url']}}?order=rlatest" class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button ">Latest Videos(R)</a>
				{% endif %}
				{% if page['type'] in ['photos', 'models', 'model', 'videos', 'sites', 'site'] %}
			<a href="{{page['url']}}?size=large" class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button ">Large Thumbs</a>
			<a href="{{page['url']}}?size=small" class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button ">Small Thumbs</a>
				{% endif %}
				{% if page['type'] in ['gallery' ] %}
			<a href="{{page['url']}}?image=large"  class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button ">Single Column</a>
			<!-- a href="{{page['url']}}?image=medium" class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button ">50%</a -->
			<!-- a href="{{page['url']}}?image=small"  class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button ">25%</a -->
			<a href="{{page['url']}}?image=thumb"  class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button ">Default</a>
				{% endif %}
			{% endif %}
			<a  onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button  ">About</a>
			

			</div>
	    </div>

		{% if page['prev'] %}
		<a href="/{{page['db']}}/{{page['type']}}/{{page['prefix']}}{{page['pid']}}" class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button w3-right">Prev</a>
		{% endif %}
		{% if page['next'] %}
		<a href="/{{page['db']}}/{{page['type']}}/{{page['prefix']}}{{page['nid']}}" class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button w3-right">Next</a>
		{% endif %}

		{% if page['pg'] %}{% if page['pg']['next'] > 0 %}
		<a href="{{page['url']}}?page={{page['pg']['next']}}" class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button w3-right">N</a>
		{% endif %}{% endif %}
		{% if page['pg'] %}{% if page['pg']['prev'] > 0 %}
		<a href="{{page['url']}}?page={{page['pg']['prev']}}" class="w3-bar-item w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-button w3-right">P</a>
		{% endif %}{% endif %}

		{% if page['db'] %}
		<form action="/{{page['db']}}/search" method="get">
		{% else %}
		<form action="/search" method="get">
	    {% endif %}
		  <input type="text" class="w3-bar-item w3-input w3-border w3-border-dark-grey w3-black w3-padding-small w3-right" placeholder="Search..." name="search" >
		</form>
	</div>
</div>



<div id="w3-main w3-content w3-center w3-padding" style="margin-top:40px">

	<!-- div style="width: 100%" id="thumbnails" class="centredthumbs" -->
		<div style="text-align:center">
			{% block content %}{% endblock %}
		</div>
	<!-- /div -->

</div>

<!-- About box - modal overlay box -->

<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
      <div class="w3-container w3-center w3-black w3-border w3-border-dark-grey w3-text-grey">
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright w3-border-top w3-border-right w3-border-dark-grey w3-hover-grey">&times;</span>
        <h2 class="w3-border-bottom w3-border-dark-grey w3-text-grey">About</h2>
        <h3>Urban-Couscous</h3>
        <p>Web-app to display image databases. Written in python using the Flask framework.</p>
        <p></p>
        <p>Author: The Judge-Meister</p>
        <p>&nbsp;</p>
		<p>Email: ianjudge1969@gmail.com</p>
        <p>GitHub: <a href="https://github.com/judge-meister/urban-couscous">https://github.com/judge-meister/urban-couscous</a></p>
      </div>
    </div>
  </div>


</body>
</html>
