<!DOCTYPE html>
<html>
<head>
<title>{% if page %}{{page['heading']}}{% endif %}</title>
 <!-- for floatbox -->
 <!-- link type="text/css" rel="stylesheet" href="{{webroot}}/floatbox/floatbox.css">
 <script type="text/javascript" src="{{webroot}}/floatbox/floatbox.js"></script -->

 <link rev="stylesheet" type="text/css" href="/static/style.css" rel="stylesheet" media="screen,all">

 <meta http-equiv="Content-Type" content="text/html, charset=ISO-8859-1">
 <meta http-equiv="content-style-type" content="text/css">

 <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- maximum-scale=1.0;" -->

 <meta name="googlebot" content="noindex,noarchive,nofollow">
 <meta name="robots" content="noindex,nofollow">

 <!-- favicon support -->
 <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
 <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
 <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
 <link rel="manifest" href="/static/site.webmanifest">

{% include "styles.html" %}
 
</head>
<body>

{% if page %} 
<div id="titlebar">
	<div id="title">
		{{page['heading']}}
	</div>
	<div id="title">
		{% for item in page['navigation'] %}
        {% if page['navigation'][item]['rows'] > 0 %}
		<a class="title{{page['navigation'][item]['class']}}" href="{{page['navigation'][item]['href']}}">{{page['navigation'][item]['title']}}</a> 
		{% endif %}
        {% endfor %}
	</div>
	<div id="titlecenter">
		{% if page['plaintitle'] %}
		{{page['title']}}
		{% else %}{% if page['title'] %}
		<a class="title2" href="{{page['title']['site']['href']}}">{{page['title']['site']['name']}}</a> / 
        {% if page['title']['models'] %}
        {% for model in page['title']['models'] %}
		<a class="title2" href="{{model['href']}}">{{model['name']}}</a>
        {% endfor %}
        {% else %}
		<a class="title2" href="{{page['title']['model']['href']}}">{{page['title']['model']['name']}}</a> / 
        {% endif %}
		{{page['title']['folder']}}
		{% endif %}{% endif %}
		{% autoescape false %}
		{% endautoescape %}
	</div>
	<div id="title">
		{% if page['pg'] %}{% if page['pg']['prev'] > 0 %}
        <div id="navbtn">
			<a class="navbtn" href="{{page['url']}}?page={{page['pg']['prev']}}">P</a>
		</div>
        {% endif %}{% endif %}
		{% if page['pg'] %}{% if page['pg']['next'] > 0 %}
        <div id="navbtn">
			<a class="navbtn" href="{{page['url']}}?page={{page['pg']['next']}}">N</a>
		</div>
        {% endif %}{% endif %}
		<!-- div id="navbtn">
			<a class="navbtn" href="/{{page['db']}}/{{page['type']}}?s=inc">&plus;</a>
		</div>
		<div id="navbtn">
			<a class="navbtn" href="/{{page['db']}}/{{page['type']}}?s=dec">&minus;</a>
		</div -->

		<div id="navbtn">
				{% if page['prev'] %}
				<a class="navbtn" href="/{{page['db']}}/{{page['type']}}/{{page['prefix']}}{{page['pid']}}">Prev</a>
				{% endif %}

				{% if page['next'] %}
				<a class="navbtn" href="/{{page['db']}}/{{page['type']}}/{{page['prefix']}}{{page['nid']}}">Next</a>
				{% endif %}

				<a class="navbtn dropbtn" onclick="myFunction()" >Dropdown</a>

				<div id="myDropdown" class="dropdown-content">
					<form action="/{{page['db']}}/search" method="get">
						<input name="search" type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()" size="10">
					</form>
					{% if page['type'] %}
					<a href="/{{page['db']}}/random">Random</a>
					  {% if page['type'] in ['photos', 'models', 'videos', 'sites', 'site'] %}
					<a href="{{page['url']}}?order=alpha">Sort Alpha</a>
					<a href="{{page['url']}}?order=ralpha">Sort Alpha(R)</a>
					<a href="{{page['url']}}?order=id">Sort Id</a>
					<a href="{{page['url']}}?order=rid">Sort Id(R)</a>
					  {% endif %}
					  {% if page['type'] in ['photos'] %}
					<a href="{{page['url']}}?order=pics">Sort PicCount</a>
					<a href="{{page['url']}}?order=rpics">Sort PicCount(R)</a>
					  {% endif %}
					  {% if page['type'] == 'models' %}
					<a href="{{page['url']}}?order=vlatest">Latest Videos</a>
					<a href="{{page['url']}}?order=rvlatest">Latest Videos(R)</a>
					<a href="{{page['url']}}?order=platest">Latest Photos</a>
					<a href="{{page['url']}}?order=rplatest">Latest Photos(R)</a>
					  {% endif %}
					  {% if page['type'] in ['models', 'sites'] %}
					<a href="{{page['url']}}?order=most">Sort Most</a>
					<a href="{{page['url']}}?order=least">Sort Least</a>
					  {% endif %}
					  {% if page['type'] == 'videos_not' %}
					<a href="{{page['url']}}?order=latest">Latest Videos</a>
					<a href="{{page['url']}}?order=rlatest">Latest Videos(R)</a>
					  {% endif %}
					  {% if page['type'] in ['photos', 'models', 'videos', 'sites', 'site'] %}
					<a href="{{page['url']}}?size=large">Large Thumbs</a>
					<a href="{{page['url']}}?size=small">Small Thumbs</a>
					  {% endif %}
					  {% if page['type'] in ['gallery' ] %}
					<a href="{{page['url']}}?image=large">100%</a>
					<a href="{{page['url']}}?image=medium">50%</a>
					<a href="{{page['url']}}?image=small">25%</a>
					  {% endif %}
					{% endif %}
					<!-- a href="#contact">Contact</a>
					<a href="#custom">Custom</a>
					<a href="#support">Support</a -->
					<a href="#tools">About</a>
				</div>
				<!-- /div-->
		</div>
	</div>
	<div id="title"></div>
	<div id="title"></div>
</div>
{% endif %}

 <div style="width: 100%" id="thumbnails" class="centredthumbs">
  <div style="text-align:center">
      {% block content %}{% endblock %}
  </div>
 </div>

{% if page %}
<div id="titlebar">
	<div id="title">
  {% if page['prev'] %}
    <a class="nav" href="/{{page['db']}}/{{page['type']}}/{{page['prefix']}}{{page['pid']}}">[{{page['prev']}}]</a>
  {% endif %}
	</div>
	<div id="titlecenter">
	</div>
	<div id="title">
  {% if page['next'] %}
    <a class="nav" href="/{{page['db']}}/{{page['type']}}/{{page['prefix']}}{{page['nid']}}">[{{page['next']}}]</a>
  {% endif %}
	</div>
	<div id="title">
	</div>
</div>
{% endif %}

<div id="overlay" onclick="off()">
  <div id="text">Model Name<form><input type="text" size=12 name="s" style="font-size:42px"></form></div>
</div>

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}
</script>

<script>
function on() {
  document.getElementById("overlay").style.display = "block";
}

function off() {
  document.getElementById("overlay").style.display = "none";
}
</script>

</body>
</html>
