{% extends "base.html" %}
{% block content %}

    {% if error %}
	<h3>{{error}}</h3>
	{% endif %}

    {% if page %}

    <!-- div id="titlecenter" style="margin-bottom: 10px">
        <div id="navbtn">
        {% for item in obuttons %}
            <a class="navbtn" href="{{item.href}}">{{item.name}}</a>
            {% if loop.index is divisibleby 8 %}
            </div></div><div id="titlecenter" style="margin-bottom: 10px"><div id="navbtn">
            {% endif %}
        {% endfor %}
        </div>
        <h1></h1>
        <div id="navbtn">
        {% for item in nbuttons %}
            <a class="navbtn" href="{{item.href}}">{{item.name}}</a>
            {% if loop.index is divisibleby 8 %}
            </div></div><div id="titlecenter" style="margin-bottom: 10px"><div id="navbtn">
            {% endif %}
        {% endfor %}
        </div>
   </div -->

   {% endif %}

{% endblock %}
