{% extends "base.html" %}
{% block content %}

{% if error %}
<h2>{{error}}</h2>
{% endif %}

{% if page %}

<style>div.video-item { width: auto; }</style>

{% if listing %}
    <div id="intro" class="w3-container w3-center">
    <h3></h3>
    
      {% for item in listing %}
        {% if item.kind == "dir" %}
          <a href="{{item.href}}" class="w3-button w3-border w3-border-grey w3-padding-small w3-teal w3-hover-dark-grey w3-margin-bottom w3-margin-right">{{item.name}}</a>
        {% elif item.kind == 'logo' %}
        <div class="overlay-image overlay-image-photo" style="max-width:100%">
          <a href="{{item.href}}" title="{{item.basename}}">
        <img class="image" src="{{item.src}}" alt="{{item.name}} {% if item.count and item.count > 0 %}({{item.count}}){% endif %}" height="{{item.height}}px" />
        <!-- img class="image" src="{{item.src}}" alt="Alt text" style="width: 100%" / -->
        <div class="text">{{item.name}} {% if item.count and item.count > 0 %}({{item.count}}){% endif %}</div>
        </a></div>
          
        {% endif %}
      {% endfor %}
      <br>
      {% for item in listing %}
        {% if item.kind == 'image' %}

        <div class="overlay-image overlay-image-photo" style="max-width:100%">
          <a href="{{item.href}}" title="{{item.basename}}">
        <img class="image" src="{{item.src}}" alt="{{item.name}} {% if item.count and item.count > 0 %}({{item.count}}){% endif %}" height="{{item.height}}px" />
        <!-- img class="image" src="{{item.src}}" alt="Alt text" style="width: 100%" / -->
        <div class="text">{{item.name}} {% if item.count and item.count > 0 %}({{item.count}}){% endif %}</div>
        </a></div>
  
        {% elif item.kind == 'movie' %}

        <div class="overlay-image overlay-image-video grid-item video-item" {% if item.thm %}style="max-width:100%"{% endif %}>
          <a href="{{item.href}}" title="{{item.basename}}">
        <!-- img class="image" src="{{item.src}}" alt="Alt text" height="{{item.theight}}px" / -->
        <img class="image" src="{{item.src}}" alt="{{item.name}} {{item.w}}x{{item.h}} {{item.mlen}}" 
        {% if item.thm %}
        style="width: 100%; aspect-ratio: 1.7776/1;"
        {% else %}
        style="height: {{item.height}};"
        {% endif %} 
        />
        <div class="text">{{item.name}} <i>{{item.w}}x{{item.h}} {{item.mlen}}</i></div>
        </a></div>
  
        {% elif item.kind != 'dir' and item.kind != 'logo' %}
          <a href="{{item.href}}" class="w3-button w3-border w3-border-grey w3-padding-small w3-deep-orange w3-hover-dark-grey w3-margin-bottom w3-margin-right">{{item.name}}</a>
        {% endif %}
      {% endfor %}
    
    </div>
{% endif %}


{% endif %}

{% endblock %}

