{% extends "base.html" %}
{% block content %}

	<style>  
		.overlay-image:hover { opacity: 1.0; } 
		.grid-container { column-width: auto ; column-gap: 0.1rem; column-fill: balance; }
	</style>

	<div id="photos" class="centredthumbs grid-container" style="column-count: {{page.columns}}">
		{% for item in gallpage %}
		<div class="overlay-image grid-item grid-item-1"  style="max-width:100%">
        <a href="{{item.href}}">
			<img class="image" src="{{item.src}}" loading="lazy" alt="Alt text" style="width: 100%" />
			<div class="textleft">{{item.pic}}</div>
		</a></div>
		{% endfor %}
	</div>

{% endblock %}

