{% extends "base.html" %}
{% block content %}

	{% import 'macros.html' as macs %}

	{% if tiles|length() == 0 %}
	  <div style="font-size:11pt; color:#ccc">No Results Found</div>
    {% endif %}

	<div class="grid-container centredthumbs">

    {% for item in tiles %}

	  {% if loop.changed(item.kind) %}
	    {% if item.kind == 'model' %}
	  <h3 class="w3-center">Models</h3>
	    {% elif item.kind == 'photo' %}
	  <h3 class="w3-center">Photos</h3>
	    {% elif item.kind == 'video' %}
 	  </div>
	  <h3 class="w3-center">Videos</h3>
	  <div class="video-container centredthumbs">
		{% elif item.kind == 'site' %}
  	  </div>
	  <h3 class="w3-center">Sites</h3>
	  <div class="grid-container centredthumbs">
	    {% endif %}
      {% endif %}

	  {% if item.kind == 'model' %}

	    {{ macs.imageitem(item) }}

	  {% elif item.kind == 'photo' %}

        {{ macs.imageitem(item) }}

      {% elif item.kind == 'video' %}

        {{ macs.videoitem(item) }}

	  {% elif item.kind == 'site' %}

  	    {{ macs.imageitem(item) }}

      {% endif %}

	{% endfor %}
	

{% endblock %}
