{% extends "base.html" %}
{% block search %}

	<h1 style="color:#ccc">Search Results for "{{search_term}}"</h1>
	{% if not hasmodels and not hasphotos %}
		<div style="font-size:11pt; color:#ccc">No Results Found</div>
	{% endif %}
	{% if hasmodels %}
	<h2>Models</h2>
    <div class="centredthumbs">
	  {% for item in modeldicts %}
	    <span style="padding:3px">
			<a href="{{item.href}}">
				<img src="{{item.src}}" height="{{item.height}}px">
				<br>{{item.name}}
			</a>
		</span>
	  {% endfor %}
    </div>
	{% endif %}
	
	{% if hasphotos %}
	<h2>Photo Sets</h2>
    <div class="centredthumbs">
	  {% for item in galldicts %}
	    <span style="padding:3px">
			<a href="{{item.href}}">
				<img src="{{item.src}}" height="{{item.height}}px">
				<br>{{item.name}}
			</a>
		</span>
	  {% endfor %}
    </div>
	{% endif %}

	{% if hasvideos %}
	<h2>Videos</h2>

	<div class="centredthumbs">

	  {% for item in viddicts %}
	    <span style="padding:3px">
			<a href="{{item.href}}">
				<img src="{{item.src}}" height="{{item.height}}px">
				<br>{{item.name}}
			</a>
		</span>
	  {% endfor %}

	</div>
	{% endif %}

	{% if hassites %}
	<h2>Sites</h2>
    <div class="centredthumbs">
	  {% for item in sitedicts %}
	    <span style="padding:3px">
			<a href="{{item.href}}">
				<img src="{{item.src}}" height="{{item.height}}px">
				<br>{{item.name}}
			</a>
		</span>
	  {% endfor %}
    </div>
	{% endif %}
	

{% endblock %}
