{% extends "base.html" %}
{% block content %}

    {% if page['type'] == 'search' %}
	<!-- h1 style="color:#ccc">Search Results for "{{search_term}}"</h1 -->
	{% else %}
	<!-- h1 style="color:#ccc">Random Selection</h1 -->
	{% endif %}
	{% import 'macros.html' as macs %}
	
	{% if not modeldicts and not galldicts %}
		<div style="font-size:11pt; color:#ccc">No Models or Photo Sets Found</div>
	{% endif %}

	{% if modeldicts %}
	<h2>Models</h2>
		{{ macs.image_span(modeldicts) }}
	{% endif %}
	
	{% if galldicts %}
	<h2>Photo Sets</h2>
		{{ macs.image_span(galldicts) }}
	{% endif %}

	{% if viddicts %}
	<h2>Videos</h2>
		{{ macs.video_span(viddicts) }}
	{% endif %}

	{% if sitedicts %}
	<h2>Sites</h2>
		{{ macs.image_span(sitedicts) }}
	{% endif %}
	

{% endblock %}
