 <style>
@charset "iso-8859-1";
 
body { background-color: #000; color: #fff; font-family: Arial, Helvetica, Geneva, Verdana, sans-serif; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;}

.centredthumbs {margin: 0 auto; justify-content: center; padding: 0px;}

:root{ --menu_font_size: 12pt; --thm_font_size:8pt; } /* used in overlay-image text and menu bar title2 text */

/*#content a {font-family: Arial, Verdana, Geneva, Helvetica, sans-serif; font-size: 8pt; text-decoration: none;}*/
a img {background-color:#fff;}


/* menu bar title text for site/model links */
a.title2  {font-size: var(--menu_font_size); color: #aaa; text-decoration: none;}
a.title2:hover { color: #ddd;}


/* change the background color for smaller screens */
/*  @media only screen and (max-width: 1024px) { 
    body { background: #005; } 
    :root { --menu_font_size: 10pt; --thm_text: 7pt; } 
    #content {padding-top: 32px;} 
  }
  @media only screen and (max-width: 900px) { 
    body { background: #500; } 
    :root { --menu_font_size: 9pt; --thm_text: 6pt; } 
    #content { padding-top: 25px; } 
  }*/



  /*****************************************/
  /* new thumb image links with truncating */
  /* overlay text and hover opacity        */

  /* New overlay on hover */
  .overlay-image:hover { opacity: 0.75; transition: .5s ease; }

  /* Main container */
  .overlay-image { display: inline-block; position: relative; margin: -4px -2px 0px 0px; transition: .5s ease; }

  .overlay-image-photo {margin: -4px -2px 0px 0px;}
  .overlay-image-video {margin: -2px 2px 4px 0px;}
  /* Original image */
  .overlay-image .image { display: block; }

  /* Original text overlay */
  .overlay-image .text, .overlay-image .textleft {
    color: #fff;
    font-size: var(--thm_font_size);
    line-height: 1.5em;
    text-shadow: 1px 1px 0px rgba(0,0,0,.7) /*2px 2px 2px #ccc/*#000*/;
    text-align: center;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    background-color: rgba(0,0,0,0.05);
  }
  /* left justified text for smaller images */
  .overlay-image .textleft { text-align: left; margin-left: 2px; margin-right: 2px; }

  .video-container { display: flex; flex-direction: row; flex-wrap: wrap; }
  .video-item { align-self: stretch; width: 24.8%; } /* 16.66 20 25 */


  @media screen and (max-width: 600px) {
    div#intro { margin-left: 0px; margin-right: 0px; }
    div.video-item { width: 100%; }
    span#pagetitle { display: none; }
  }
  @media screen and (max-width: 900px) and (min-width: 600px) {
    div#intro { margin-left: 350px; margin-right: 350px; }
    div.video-item { width: 49.4%; }
  }
  @media screen and (max-width: 1200px) and (min-width: 900px) {
    div.video-item { width: 32.0%; }
  }
  @media screen and (min-width: 1210px) {
    div.video-item { width: 24.8%; }
  }


</style>

