{% extends "base.html" %}
{% block photos %}

	{% import 'macros.html' as macs %}

	{{ macs.video_span(galldicts) }}
	
    <!-- div class="centredthumbs">
	  {% for item in galldicts %}
		< !-- /* Simple overlay */ -->
		<!-- div class="overlay-image"><a href="{{item.href}}">
		  <img class="image" src="{{item.src}}" alt="Alt text" height="{{item.theight}}px" />
		  <div class="text">{{item.name}} <i>{{item.w}}x{{item.h}} {{item.mlen}}</i></div>
		</a></div>
	  {% endfor %}
    </div -->

{% endblock %}
